# OS
.DS_Store
.tmp/

# Terraform/Terragrunt
infra/.terragrunt-cache/
infra/services/**/providers.generated.tf
infra/services/**/.terragrunt-cache/
infra/services/**/.terraform/
infra/services/**/.terraform.tfstate.lock.info
infra/services/**/crash.log
infra/services/**/tfplan
infra/services/**/terraform.tfstate
infra/services/**/terraform.tfstate.*
infra/services/**/terraform.tfvars
pipelines/**/providers.generated.tf
pipelines/**/.terragrunt-cache/
pipelines/**/.terraform/
pipelines/**/.terraform.tfstate.lock.info
pipelines/**/crash.log
pipelines/**/tfplan
pipelines/**/terraform.tfstate
pipelines/**/terraform.tfstate.*
pipelines/**/terraform.tfvars

# Global Terraform/Terragrunt safety net (modules, examples, nested dirs)
**/.terragrunt-cache/
**/.terraform/
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/tfplan
**/providers.generated.tf
